<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonlight.cartographe">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.moonlight.cartographe.CardPack.MainActivity_card"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@mipmap/ic_launcher_2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_picker" />
        <activity
            android:name="com.moonlight.cartographe.PrefHelper.SettingsActivity"
            android:label="@string/preference_activity_title"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.moonlight.cartographe.CardPack.ViewerCloudObjectActivity"
            android:label="@string/viewer_activity_title"
            android:theme="@style/AppTheme.NoActionBar"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moonlight.cartographe.CardPack.MainActivity_card" />
        <activity
            android:name="com.moonlight.cartographe.ViewActivity"
            android:label="@string/view_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.moonlight.cartographe.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moonlight.cartographe.MainActivity" />
        </activity>
        <activity
            android:name="com.moonlight.cartographe.CardPack.SpeakSettingActivity"
            android:label="@string/view_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.moonlight.cartographe.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moonlight.cartographe.MainActivity" />
        </activity>
        <activity
            android:name="com.moonlight.cartographe.InstructionsActivity"
            android:label="@string/instructions_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.moonlight.cartographe.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moonlight.cartographe.MainActivity" />
        </activity>
        <activity
            android:name="com.moonlight.cartographe.FilesActivity"
            android:label="@string/files_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.moonlight.cartographe.ViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moonlight.cartographe.ViewActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
